@font-face {
  font-family: "InterRegular";
  src: url("../fonts/InterRegular/InterRegular.eot");
  src: url("../fonts/InterRegular/InterRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/InterRegular/InterRegular.woff") format("woff"),
    url("../fonts/InterRegular/InterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
.container {
  width: 755px;
  margin: 25px 0 0 430px;
  animation: fadeIn;
  animation-duration: 1s;
}
.title {
  font-size: 30pt;
  font-weight: 700;
}
.container__1 {
  width: 100%;
  height: 350px;
  margin-top: 60px;
  display: flex;
}
.box__L,
.box__R {
  width: 350px;
  height: 350px;
  border-radius: 25px;
  outline: 2px solid #ffffff;
  outline-offset: -12px;
  display: flex;
  transition: 0.3s;
}
.box__R {
  margin-left: 40px;
}
.box__L:hover,
.box__R:hover {
  background: linear-gradient(135deg, #f95628, #ffde41);
  outline-offset: 0;
  outline: none;
}
.box__L a,
.box__R a {
  width: 350px;
  height: 350px;
  position: absolute;
}
.logo__vk {
  width: 230px;
  height: 230px;
  margin: auto;
  display: flex;
}
.logo__tg {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
}
.white {
  width: 150px;
  height: 150px;
  margin: auto;
  transition: 0.3s;
  background-color: #ffffff;
}
.logo__vk img {
  position: absolute;
  width: 230px;
  height: 230px;
}
.logo__tg img {
  position: absolute;
  width: 200px;
  height: 200px;
}
.box__L:hover .white,
.box__R:hover .white {
  opacity: 0;
}
.contacts {
  margin-top: 60px;
}
