@font-face {
  font-family: "InterRegular";
  src: url("../fonts/InterRegular/InterRegular.eot");
  src: url("../fonts/InterRegular/InterRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/InterRegular/InterRegular.woff") format("woff"),
    url("../fonts/InterRegular/InterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
.container {
  width: 1000px;
  margin: 25px 0 0 430px;
  animation: fadeIn;
  animation-duration: 1s;
}
.title {
  width: 100%;
  display: flex;
}
.title__1 {
  font-size: 30pt;
  font-weight: 700;
}
.title__2 {
  font-size: 30pt;
  font-weight: 700;
  margin: 0 15px;
  color: #f88511;
}
.container__1 {
  width: 100%;
  height: 350px;
  margin-top: 60px;
  display: flex;
}
.course__L,
.course__C,
.course__R {
  width: 300px;
  height: 100%;
  border-radius: 25px;
  outline: 2px solid #ffffff;
  outline-offset: -12px;
  display: flex;
  transition: 0.3s;
}
.course__C {
  margin: auto;
}
.course__L:hover,
.course__C:hover,
.course__R:hover {
  background: linear-gradient(135deg, #f95628, #ffde41);
  outline-offset: 0;
  outline: none;
}
.course__Content {
  width: 70%;
  height: 75%;
  margin: auto;
}
.course__Content h1 {
  font-size: 25pt;
  font-weight: 700;
}
.course__Content h2 {
  font-size: 15pt;
  font-weight: 400;
}
.course__Content p {
  font-size: 12pt;
  font-weight: 400;
  margin-top: 35px;
}
.teacher {
  width: 100%;
  height: 50px;
  margin-top: 75px;
  display: flex;
}
.teacher img {
  border-radius: 50%;
}
.teacher__Text {
  margin: auto;
}
.teacher h3,
.teacher p {
  line-height: 10%;
  font-size: 12pt;
  font-weight: 700;
  margin: 12% 0;
}
.teacher p {
  font-weight: 400;
}
